.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart .cartTitle {
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    -webkit-box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
    -moz-box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
    box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
    color: #fff;
  }
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    padding: 30px;
  }
  
  .cartItem img {
    width: 200px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
  .emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .emptyCart img {
    width: 200px;
    height: 150px;
  }
  .emptyCart h1 {
    color: #fff;
    font-style: italic;
  }