.shop {
  width: 1280px;
}
.shopTitle {
  display: flex;
  justify-content: center;
}
.shopTitle h1 {
  width: 1280px;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 100px;
  -webkit-box-shadow: -6px 1px 23px 1px rgba(156, 150, 156, 1);
  -moz-box-shadow: -6px 1px 23px 1px rgba(156, 150, 156, 1);
  box-shadow: -6px 1px 23px 1px rgba(156, 150, 156, 1);
  margin-top: 120px;
  font-size: 35px;
}
.products {
  width: 1280px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  border-radius: 15px;
  width: 100px;
  height: 350px;
  margin: 0px 50px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  border-radius: 10px;
  width: 250px;
  height: 170px;
}

.product .description {
  text-align: center;
}
.description {
  width: 380px;
  margin-bottom: 10px;
}
.description p,
.description p b {
  font-size: 24px;
}
.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 10px 5px;
  border-radius: 15px;
  transition: 0.5s all ease;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
  .shop {
    width: 400px;
    padding: 0 3rem;
  }
}
