* {
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
text-align: center;}
body {
  width: 1280px;
  margin: 0 auto;
  height: 100vh;
  background: #fff;
  
}