.footer {
  background-color: #fff;
  width: 1280px;
  padding: 20px;
  height: 180px;
  margin: 30px auto;
  display: flex;
  -webkit-box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
  -moz-box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
  box-shadow: -6px 1px 23px 1px rgba(156,150,156,1);
}
.footer-column {
  flex: 1;
  margin: 0 10px;
}
.footer-column h3 {
  margin-bottom: 20px;
}
.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 20px;
}
li {
  list-style: none;
}

.social-links li a {
  color: #222;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-links li a i {
  margin-right: 15px;
}
.footer-column ul li {
    margin-bottom: 20px;
}
.footer-column ul li a {
  color: #222;
}
@media (max-width: 768px) {
.footer {
  flex-direction: column;
}
  .footer-column {
    flex: 100%;
    margin: 10px 0;
  }
}
